
.clearfix:after{

    content: ".";
    height: 0;
    visibility: hidden;
    width: 0;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

header, main, footer{
    padding: 20px;
}

/* HEADER */
header{
    background: #333;
}

header a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 5px;
}

header .logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover{
    border-bottom: thin solid white;
}


/* MAIN */
main{
    background: #ccc;
    min-height: 800px;
}

.items div{
    width: 29%;
    background: white;
    border-radius: 5px;
    margin: 2%;
    text-align: center;
}


/* FOOTER */
footer{
    background: #333;
}